#how-gaas-works {
  background-color: $ivory;
  text-align: center;
  counter-reset: hiw-step;

  .section-title {
    margin: 0;
    padding: 50px 15px;
  }

  .hiw-steps-group {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
}

.hiw-step {
  min-width: 360px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  color: $ivory;
  font-size: 15px;
  flex: 1 1 auto;

  @media (min-width: 720px) {
    flex-basis: 50%;
  }

  @media (min-width: 960px) {
    font-size: 18px;
  }

  &.step-1 {
    background-image: image-url('step1@2x.jpg');
  }
  &.step-2 {
    background-image: image-url('step2@2x.jpg');
  }
  &.step-3 {
    background-image: image-url('step3@2x.jpg');
  }
  &.step-4 {
    background-image: image-url('step4@2x.jpg');
  }
}

.hiw-step-desc {
  margin: relative(30px, 18px);
  margin-bottom: 15%;
}

.hiw-step-title {
  height: relative(32px, 20px);
  background-color: $yellow;
  color: inherit;
  font-size: relative(20px, 18px);
  line-height: relative(32px, 20px);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  position: relative;
  padding: 0 1em;
  padding-left: relative(43px, 20px);
  margin: 60% 0 0;

  &::before {
    counter-increment: hiw-step;
    content: counter(hiw-step);
    width: relative(40px, 26px);
    background-color: $greensea;
    font-size: relative(26px, 20px);
    font-weight: 600;
    line-height: relative(40px, 26px);
    display: block;
    position: absolute;
    border: 3px solid $ivory;
    border-radius: 50%;
    top: 50%;
    left: 0;
    margin-top: relative(-23px, 26px);
    margin-left: relative(-23px, 26px);
  }

  &::after {
    content: '';
    width: 0;
    height: 0;
    border-width: relative(16px, 20px) relative(8px, 20px);
    border-color: $yellow transparent;
    border-style: solid;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: relative(-7px, 20px);
  }
}

