@charset "utf-8";
@import "normalize";

$greensea: #01b5b6;
$ivory: #faf6ea;
$yellow: #f4c36c;

@import "hero_block";

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

