@charset "utf-8";
@import "normalize";

$greensea: #01b5b6;
$ivory: #faf6ea;
$yellow: #f4c36c;
$brown: #d4ae80;

@function relative($size, $base: 16px, $unit: 1em) {
  @return ($size / $base) * $unit;
}

@import "hero_block";
@import "how_it_works";
@import "why_gaas";
@import "features";

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

